* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color-primary {
    background-color: #407135; /* Indigo-600 */
    color: white;
}

th{
        font-weight: 500;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}
.modal-content {
    animation: fadeIn 0.3s ease-out;
}
.table-row:hover {
    transform: translateY(-2px);
    transition: all 0.2s ease;
}