<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="/img/favico.png" type="image/x-icon">


    <title>MOVAL</title>
</head>
<body class="bg-gradient-to-br from-blue-50 to-indigo-100 min-h-screen p-6">

    {{{body}}}


</body>
</html>